include LICENCE
include wahgwan_http/generated/css/.keep
include wahgwan_http/generated/js/.keep
include wahgwan_http/generated/thumb/.keep
recursive-include wahgwan_http/img *
recursive-include wahgwan_http/js *
recursive-include wahgwan_http/scss *
recursive-include wahgwan_http/static *
recursive-include wahgwan_http/templates *
