{# This Source Code Form is subject to the terms of the Mozilla Public
   License, v. 2.0. If a copy of the MPL was not distributed with this
   file, You can obtain one at http://mozilla.org/MPL/2.0/. #}
{% extends 'base.html' %}
{% block body %}
<img alt="cone" data-interchange="[/static/img/640px-0527172229.jpg, small], [/static/img/1024px-0527172229.jpg, medium], [/static/img/1200px-0527172229.jpg, large], [/static/img/1440px-0527172229.jpg, xlarge], [/static/img/0527172229.jpg, xxlarge]">
<div class="expanded column row">
<h1>About us</h1>
<h2>A different take on technology consulting, architecting and development</h2>
<p>Wahgwan Industry Limited is an <strong>independent</strong> technology company dedicated to helping businesses, organisations and individuals use technology effectively and gainfully. Originally founded in 2016/17 as an offshoot of having hacked in over twenty hackathons on a variety of projects spanning disparate industries since 2013, the joy of leveraging technology to solve problems and enable higher quality of life was unparalleled. Combined with the personalised, relatable approach between technology and other subjects, it made sense to offer these kinds of services commercially.</p>
<p>Notice the out of place cone above and on our business cards? It represents our commitment to solving problems and providing solutions through fundamentals and unorthodox methods where appropriate.</p>
<p>Wahgwan is located in the Main Line suburbs of Philadelphia, but we can remotely discuss, organise and deliver projects and services for clients located anywhere.</p>
</div>
{% endblock %}
