{# This Source Code Form is subject to the terms of the Mozilla Public
   License, v. 2.0. If a copy of the MPL was not distributed with this
   file, You can obtain one at http://mozilla.org/MPL/2.0/. #}
<!DOCTYPE html>
<html class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>{% if title %}{{ title|e }}&nbsp;&ndash;&nbsp;{% endif %}Wahgwan Industry Limited</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/app.css') }}">
</head>
<body>
<header class="top-bar">
	<div class="top-bar-title">
		<a href="/"><span style="color: #FF5555;">W</span><span style="color: #FFFF00;">A</span><span style="color: #FF00FF;">H</span><span style="color: #00FF00;">G</span><span style="color: #FF5555;">W</span><span style="color: #FFFF00;">A</span><span style="color: #FF00FF;">N</span></a>
		<span data-responsive-toggle="responsive-top-bar" data-hide-for="medium">
			<button class="menu-icon" type="button" data-toggle></button>
		</span>
	</div>
	<div id="responsive-top-bar">
		<nav class="top-bar-right">
			<ul class="vertical medium-horizontal menu">
				<li><a href="/about/">About</a></li>
				<li><a href="http://blog.wahgwan.xyz/">Blog</a></li>
				<li><a href="/consulting/">Consulting</a></li>
				<li><a href="/development/">Development</a></li>
				<li><a href="/specialty/">Specialty</a></li>
				<li><a href="/contact/">Contact</a></li>
			</ul>
		</nav>
	</div>
</header>
{% block body %}
{% endblock %}
<footer class="align-middle">
	A proud member of:
	<div class="grid-container fluid"><div class="grid-x align-middle">
		<div class="small-6 medium-auto cell"><a href="http://www.mlcc.org/" title="Main Line Chamber of Commerce"><img alt="MLCC" data-interchange="[/static/img/100px-MLCC.svg.png, small], [/static/img/120px-MLCC.svg.png, medium]"></a></div>
		<div class="small-6 medium-auto cell"><img alt="DVBPN" data-interchange="[/static/img/150px-DVBPN.svg.png, small], [/static/img/240px-DVBPN.svg.png, medium]"></div>
		<div class="small-6 medium-auto cell"><a href="http://www.localentrepreneurnetwork.com/">Local Entrepreneur Network</a></div>
		<div class="small-6 medium-auto cell"><a href="http://www.phillylinux.org/" title="Philadelphia Linux Users Group"><img alt="PLUG" data-interchange="[/static/img/100px-PLUG.svg.png, small], [/static/img/150px-PLUG.svg.png, medium]"></a></div>
	</div></div>
	Copyright &copy; 2017 Wahgwan Industry Limited
</footer>

<script type="text/javascript" src="/static/js/email.js"></script>
<script type="text/javascript" src="/static/js/vendor/jquery.js"></script>
<script type="text/javascript" src="/static/js/vendor/foundation.js"></script>
<script type="text/javascript">
$(document).foundation();
</script>
</body>
</html>
