{# This Source Code Form is subject to the terms of the Mozilla Public
   License, v. 2.0. If a copy of the MPL was not distributed with this
   file, You can obtain one at http://mozilla.org/MPL/2.0/. #}
<!DOCTYPE html>
<html class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Wahgwan Industry Limited</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/app.css') }}">
</head>
<body>
<header class="top-bar">
	<div class="top-bar-title">
		<a href="/"><span style="color: #FF5555;">W</span><span style="color: #FFFF00;">A</span><span style="color: #FF00FF;">H</span><span style="color: #00FF00;">G</span><span style="color: #FF5555;">W</span><span style="color: #FFFF00;">A</span><span style="color: #FF00FF;">N</span></a>
	</div>
	<div>
		<nav class="top-bar-right">
			<ul class="menu">
				<li><a class="imail">Contact</a></li>
			</ul>
		</nav>
	</div>
</header>
{% block body %}
{% endblock %}
<footer class="expanded row align-center align-middle">
	<div class="column small-12 medium-10">
		Copyright &copy; 2017 Wahgwan Industry Limited
	</div>
</footer>

<script type="text/javascript" src="/static/js/email.js"></script>
<script type="text/javascript" src="/static/js/vendor/jquery.js"></script>
<script type="text/javascript" src="/static/js/vendor/foundation.js"></script>
<script type="text/javascript">
$(document).foundation();
</script>
</body>
</html>
