{# This Source Code Form is subject to the terms of the Mozilla Public
   License, v. 2.0. If a copy of the MPL was not distributed with this
   file, You can obtain one at http://mozilla.org/MPL/2.0/. #}
{% extends 'base.html' %}
{% block body %}
<div class="hero text-center" data-interchange="[/static/img/640px-Wikimedia_Foundation_Servers-8055_03.jpg, small], [/static/img/1024px-Wikimedia_Foundation_Servers-8055_03.jpg, medium], [/static/img/1200px-Wikimedia_Foundation_Servers-8055_03.jpg, large], [/static/img/1400px-Wikimedia_Foundation_Servers-8055_03.jpg, xlarge], [/static/img/Wikimedia_Foundation_Servers-8055_03.jpg, xxlarge]">
	<h1>Consulting</h1>
</div>

<div class="grid-container fluid">
<p>Technology consulting generally falls under these categories:</p>
<ul>
	<li>Computer systems audits</li>
	<li>Computing infrastructure design for small businesses</li>
	<li>Technical training in a relatable way</li>
	<li>Application and web development</li>
</ul>
<p>This is not an exhaustive list of consulting capabilities. There are some categories we do in-house; others we partner with other companies. Specifically for larger jobs involving systems migrations, backups, etc, we partner with <a href="http://www.linuxforce.net/">LinuxForce</a> and <a href="http://www.daotechnologies.com/">DAO Technologies</a>.</p>

<h2>Application and web development</h2>
<p>Our application development services centre on web, low-to-mid-level systems, and to a lesser extent, mobile technologies. We primarily focus on the backend, the behind-the-scenes components that make the face that the users see work properly. We partner with other companies to deliver the full-stack experience, particularly in user interface design.</p>
<p>In addition to customer-facing applications, we also do internal applications. These often times also indirectly interface with portions of the customer-facing applications. As such, all applications are written with separation of concerns and a toolkit-based or microservices design (the Unix philosophy) as important considerations. This approach allows for less maintenance overhead as not only can code be used longer without complicated rewrites, but individual components of the "toolkit" can be swapped as-needed.</p>

<p>Even if your category may not be mentioned above, <a href="/contact/">contact us</a> anyway. We are always willing to talk through your technology struggles and wants.</p>
</div>
{% endblock %}
