{# This Source Code Form is subject to the terms of the Mozilla Public
   License, v. 2.0. If a copy of the MPL was not distributed with this
   file, You can obtain one at http://mozilla.org/MPL/2.0/. #}
{% extends 'base.html' %}
{% block body %}
<div class="grid-container fluid">
<h1>Consulting</h1>
<p>Technology consulting generally falls under these categories:</p>
<ul>
	<li>Computer systems audits</li>
	<li>Computing infrastructure design for small businesses</li>
	<li>Technical training in a relatable way</li>
	<li>Audio/video technical support and strategy</li>
</ul>
<p>This is not an exhaustive list of consulting capabilities. There are some categories we do in-house; others we partner with other companies. Specifically for larger jobs involving systems migrations, backups, etc, we partner with <a href="http://www.linuxforce.net/">LinuxForce</a> and <a href="http://www.daotechnologies.com/">DAO Technologies</a>.</p>
<p>Even if your category may not be mentioned above, <a href="/contact/">contact us</a> anyway. We are always willing to talk through your technology struggles and wants.</p>
</div>
{% endblock %}
