{# This Source Code Form is subject to the terms of the Mozilla Public
   License, v. 2.0. If a copy of the MPL was not distributed with this
   file, You can obtain one at http://mozilla.org/MPL/2.0/. #}
{% extends 'base.html' %}
{% block body %}
<div class="expanded column row">
<h1>Contact us</h1>
<p>Please feel free to contact us regarding anything on our site, the services we offer or any other technology questions. <em><strong>We are here to help you!</strong></em></p>
<p><strong>Please note</strong> that you <em>must</em> contact us by <a class="imail"><strong>email</strong></a> first. This includes having our business cards in hand, in which case use the direct email on the card. A consultant will respond back to you via email with further contact information or an appointment.</p>
<p>Telephone calls or any other form of communication without previous email correspondance establishing enough of a business relationship will be ignored without warning.</p>
</div>
{% endblock %}
