{# This Source Code Form is subject to the terms of the Mozilla Public
   License, v. 2.0. If a copy of the MPL was not distributed with this
   file, You can obtain one at http://mozilla.org/MPL/2.0/. #}
{% extends 'base.html' %}
{% block body %}
<div class="hero text-center" data-interchange="[/static/img/640px-WIN_20170526_12_49_11_Pro.jpg, small], [/static/img/1024px-WIN_20170526_12_49_11_Pro.jpg, medium], [/static/img/1200px-WIN_20170526_12_49_11_Pro.jpg, large], [/static/img/1400px-WIN_20170526_12_49_11_Pro.jpg, xlarge], [/static/img/WIN_20170526_12_49_11_Pro.jpg, xxlarge]">
	<h1>Contact us</h1>
</div>

<div class="grid-container fluid">
<p>Please feel free to contact us regarding anything on our site, the services we offer or any other technology questions. <em><strong>We are here to help you!</strong></em></p>
<p><strong>Please note</strong> that you <em>must</em> contact us by <a class="imail"><strong>email</strong></a> first. This includes having our business cards in hand, in which case use the direct email on the card. A consultant will respond back to you via email with further contact information or an appointment.</p>

<form method="POST" action="/formmail/">
	<div class="grid-container">
		<div class="grid-x grid-padding-x">
			<div class="medium-6 cell">
				<label>Name
					<input name="realname" type="text" placeholder="realname" required>
				</label>
			</div>
			<div class="medium-6 cell">
				<label>Email
					<input name="email" type="text" placeholder="email" required>
				</label>
			</div>
		</div>
		<div class="grid-x grid-padding-x">
			<div class="cell">
				<label>Subject
					<input name="subject" type="text" placeholder="subject" required>
				</label>
			</div>
		</div>
		<div class="grid-x grid-padding-x">
			<div class="cell">
				<textarea name="comment" placeholder="comment"></textarea>
			</div>
		</div>
		<div class="grid-x grid-padding-x">
			<div class="cell">
				<input type="submit" value="Submit" class="button">
			</div>
		</div>
	</div>
</form>
</div>
{% endblock %}
