{# This Source Code Form is subject to the terms of the Mozilla Public
   License, v. 2.0. If a copy of the MPL was not distributed with this
   file, You can obtain one at http://mozilla.org/MPL/2.0/. #}
{% extends 'base.html' %}
{% block body %}
<img alt="keyboard" data-interchange="[/static/img/640px-WIN_20170526_12_49_11_Pro.jpg, small], [/static/img/1024px-WIN_20170526_12_49_11_Pro.jpg, medium], [/static/img/1200px-WIN_20170526_12_49_11_Pro.jpg, large], [/static/img/1440px-WIN_20170526_12_49_11_Pro.jpg, xlarge], [/static/img/WIN_20170526_12_49_11_Pro.jpg, xxlarge]">
<div class="expanded column row">
<h1>Development</h1>
<p>Our application development services centre on web, and to a lesser extent, mobile technologies. We primarily focus on the backend, the behind-the-scenes components that make the face that the users see work properly. We partner with other companies to deliver the full-stack experience, particularly in user interface design.</p>
<p>In addition to customer-facing applications, we also do internal applications. These often times also indirectly interface with portions of the customer-facing applications. As such, all applications are written with separation of concerns and a toolkit-based design (the Unix philosophy) as important considerations. This approach allows for less maintenance overhead as not only can code be used longer without complicated rewrites, but individual components of the "toolkit" can be swapped as-needed.</p>
<p>Please <a href="/contact/">contact us</a> to talk development needs with a consultant.</p>
</div>
{% endblock %}
