{# This Source Code Form is subject to the terms of the Mozilla Public
   License, v. 2.0. If a copy of the MPL was not distributed with this
   file, You can obtain one at http://mozilla.org/MPL/2.0/. #}
{% extends 'base.html' %}
{% block body %}
<p>We are a computing services and technology consulting organisation specialising in free and open source solutions (FOSS). We develop back-end software running on Unix-like systems with a touch of systems management.</p>
<p>Particular areas of expertise include developing maintainable web applications, custom Linux firewall solutions with the new nftables, performant yet secure Internet of Things devices with single-board computers and even user experience design.</p>
<p>Wahgwan provides your organisation with technical expertise so you can focus on other aspects of your business or work and know that you have a partner to provide that extra eyeball on major decisions.</p>
<p>Please <a class="imail">contact us</a> if we can be of any help to you or your group or to discuss your technology stuggles and needs.</p>
{% endblock %}
