{# This Source Code Form is subject to the terms of the Mozilla Public
   License, v. 2.0. If a copy of the MPL was not distributed with this
   file, You can obtain one at http://mozilla.org/MPL/2.0/. #}
{% extends 'base.html' %}
{% block body %}
<div class="grid-container fluid">
	<h2>Helping businesses, organisations and individuals use technology effectively</h2>
	<p>Wahgwan Industry Limited is an <strong>independent</strong> technology company.</p>
	<p>We design, build and maintain solutions for business problems, primarily serving small to medium-sized businesses and organisations. We take a fundamentalist, systems/toolkit and design thinking-based approach to not only help you achieve your goals but to ensure continued success.</p>
	<p>To that end, our primary areas of expertise lie in backend systems architecting (including those for web applications) and embedded software development. We in particular service Unix-based and open source systems.</p>
	<p>Please explore our website to learn more about what we offer and how we can serve you.</p>
</div>
{% endblock %}
