{# This Source Code Form is subject to the terms of the Mozilla Public
   License, v. 2.0. If a copy of the MPL was not distributed with this
   file, You can obtain one at http://mozilla.org/MPL/2.0/. #}
{% extends 'base.html' %}
{% block body %}
<img alt="Pi" data-interchange="[/static/img/640px-WIN_20170528_04_05_22_Pro.jpg, small], [/static/img/1024px-WIN_20170528_04_05_22_Pro.jpg, medium], [/static/img/1200px-WIN_20170528_04_05_22_Pro.jpg, large], [/static/img/1440px-WIN_20170528_04_05_22_Pro.jpg, xlarge], [/static/img/WIN_20170528_04_05_22_Pro.jpg, xxlarge]">
<div class="expanded column row">
<h1>Specialty work</h1>
<p>Great ideas and projects need great implementation. Sometimes, even breaking down requirements to fundamentals, you may end up in a bind with regards to expertise for a specific feature. Or, you may not have even begun to (re-)evaluate your user experience cycle. We can help!</p>
<p>We are backed by experience hacking in over twenty hackathons since 2013 on a variety of projects for different subjects and industries, pushing the limits of what can come to life over the course of a weekend. Both software and hardware projects are well represented. Some specific projects:</p>
<ul>
	<li>a mobile-first web application enabling pre-orders of food and drink whilst planning a long training cycle ride</li>
	<li>menstrual cramp-alleviating undergarments</li>
	<li>extensible internet-connected hot tub framework</li>
	<li>for use during childbirth, perineal massaging device prototype</li>
</ul>
<p>As such, our capabilities include but are not limited to:</p>
<ul>
	<li>Bluetooth, classic and Low Energy</li>
	<li>software development on embedded Unix-like platforms</li>
	<li>countless Raspberry Pis, BeagleBoards/BeagleBones, Arduinos and other single-board computers and microcontrollers</li>
	<li>mobile soldering and desoldering kit</li>
	<li>assorted electronic parts in stock and supply chain</li>
</ul>
<p><a href="/contact/">Contact us</a> today to find out how we can help out with your project.</p>
</div>
{% endblock %}
